# Gradle build system ignores
.gradle/
build/
bin/

# Other IDE related folders
.idea/
.eclipse/
.settings/
.classpath
.project
.agents/
.vscode/
graphify-out/


# Minecraft client/server files
run/

# MacOS system files
.DS_STORE
.aider*
